[submodule "_posts/Personal-Setup"]
	path = content/Personal-Setup
	url = https://github.com/n0k0m3/Personal-Setup/
[submodule "_posts/small-projects"]
	path = content/posts/small-projects
	url = https://github.com/n0k0m3/small-projects
[submodule "resume"]
	path = content/resume
	url = git@github.com:n0k0m3/resume.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
