$body-background-color: #0D1117;
$sidebar-color: #161B22;
$search-background-color: #161B22;
$table-background-color: #161B22;
$code-background-color: #161B22;
$feedback-color: darken($sidebar-color, 70%);

$border-color: #30363D;


$body-text-color: #C9D1D9;
$body-heading-color: #E2E8EF;
$search-result-preview-color: #ABB2BA;
$nav-child-link-color: #C9D1D9;
$link-color: #58A6FF;
$search-text-color: #C0C8CF;

$btn-primary-color: #161B22;
$base-button-color: #21262D;